<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Anillos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Anillos</h1>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>