<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/anillos.css">
    <title>Anillos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="product-banner">
            <img src="/img/Anillos.png" alt="Anillos">
            <h1>Anillos</h1>
        </section>
        <section class="products-container">
            <a href="/" class="product">
                <div class="product-image">
                    <img class="pic main" src="/img/gold-ring.jpg" alt="Product">
                    <img class="pic back" src="/img/ring-2.jpg" alt="Vista 2">
                </div>
                <div class="product-info">
                    <p>Nombre del producto</p>
                    <p>Precio</p>
                </div>
            </a>
            <a href="/" class="product">
                <div class="product-image">
                    <img class="pic main" src="/img/gold-ring.jpg" alt="Product">
                    <img class="pic back" src="/img/ring-2.jpg" alt="Vista 2">
                </div>
                <div class="product-info">
                    <p>Nombre del producto</p>
                    <p>Precio</p>
                </div>
            </a>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>