<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Collares</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Collares</h1>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>