<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/finalizaCompra.css">
    <title>JFL Bisutería</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
       
    </main>
    <%- include('../partials/footer') %>
</body>
</html>