<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/finalizaCompra.css">
    <title>JFL Bisutería</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>

        <h1>¡Muchas gracias <br> por tu compra!</h1>

        <section class="datos-pedido">
            <div class="no-pedido">
                <p>Tu numero de pedido es:</p>
                <p>####</p>
            </div>

            <div class="datos-adicionales">
                <p>Recibirás tu paquete en un lapso de 3 a 5 días. <br> <br>
                    A a la brevedad recibirás un correo electrónico de confirmación de tu compra.</p>
            </div>

            <div class="finaliza-btn">
                <a href="/">Seguir comprando</a>
            </div>
    
        </section>
       
    </main>
    <%- include('../partials/footer') %>
</body>
</html>