<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCart.css">
    <title>JFL Bisutería</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <!-- Encabezado del carrito -->
        <div class="encabezado">
            <h1>Mi carrito</h1>
        </div>
        <template id="template">
            <section class="carrito-general">
                <form action="" class="purchase-form">
                    <div class="cuadro-productos">
                        
                    </div>
    
                    <div class="cuadro-resumen">
                        
                        <div class="precios">
                            <div class="desglose-indiv">
                                <p >Subtotal: $ <span id="subtotalPrice"></span></p>
                                <p>Impuesto: $ 0.00</p>
                                <p>Envío: $ 50.00 </p>
                                <p >Total: $ <span id="totalPrice"></span></p>
                            </div>
                        </div>
    
                        
                        <div class="btn-pagar">
                            <button class="submit" id="submit" type="submit">Ir a pagos</button>
                        </div>
                    </div>     
                </form>
            </section>  
        </template>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/productCart.js"></script>
</body>
</html>