<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>JFL Bisutería</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>

        <section class="descripcion-producto">

            <div class="imagenes">
                <!-- Vista de producto actual -->
                <div>
                    <img class="imagen-principal" src="/img/Imagen3_detalle.png" alt="">
                </div>

                <!-- Slider de imágenes -->
                <div class="selector-imagenes">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <div class="img-container">
                        <img class="imagen1-detalle" src="/img/Imagen1_detalle.png" alt="imagen1producto">
                    </div>
                    <div class="img-container">
                        <img class="imagen2-detalle" src="/img/Imagen2_detalle.png" alt="imagen2producto">
                    </div>
                    <div class="img-container">
                        <img class="imagen3-detalle" src="img/Imagen3_detalle.png" alt="imagen3producto">
                    </div>
                    <button><i class="fas fa-chevron-right"></i></button> 
                </div>            
            </div>
            <!-- </div> -->
            <div class="descripciones">
                <!-- Descripcion del producto -->
                <div class="datos-producto">
                    <h1 class="nombre-producto">Nombre del producto</h1>
                    <p class="descripcion-producto">Descripción breve del producto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ipsum error, dicta temporibus maxime delectus eum perspiciatis voluptatibus corrupti obcaecati, non deserunt. Non, cum nisi! Perspiciatis libero at cumque tempora.</p>
                </div>

                <!-- Seleccion de tallas y cantidades -->
                <div class="datos-compra">
                    <form action="">
                        <div class="resalta-campo">
                            <label for="price"> Precio: </label> <span id="price">$300.00</span>
                        </div>
                        <div class="resalta-campo">
                            <label for="seleccionTalla">Talla: </label>
                            <select name="size" id="seleccionTalla">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                            <!-- <label><input type="radio" name="seleccionTalla">S</label>
                            <label><input type="radio" name="seleccionTalla">M</label>
                            <label><input type="radio" name="seleccionTalla">L</label>
                            <label><input type="radio" name="seleccionTalla">XL</label> -->
                        </div>
                        <div class="resalta-campo">
                            <label  for="cantidad">Cantidad:</label>
                            <select name="quantity" id="cantidad" class="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select> 
                        </div>
                        <div class="contenedor-btn">
                            <button type="submit" class="btn">Añadir al carrito</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>     
    </main>
    <%- include('../partials/footer') %>
</body>
</html>