<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCart.css">
    <title>JFL Bisutería</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <!-- Encabezado del carrito -->
        <div class="encabezado">
            <h1>Mi carrito</h1>
        </div>
        <section class="carrito-general">
            <% if(locals.products) { %>
                <form action="" class="purchase-form">
                    <div class="cuadro-productos">
                        <!-- Visualización de productos -->
                        <% products.forEach(product => { %>
                            <%- include('../partials/productOfCart.ejs', {product: product}) %>
                        <% }) %>
                    </div>
    
                    <div class="cuadro-resumen">
                        <!-- Precios -->
                        <div class="precios">
                            <div class="desglose-indiv">
                                <p>Subtotal: $$$</p>
                                <p>Impuesto: $$$</p>
                                <p>Envío: $$$</p>
                                <p>Total: $$$</p>
                            </div>
                        </div>
    
                        <!-- Confirmación     -->
                        <div class="btn-pagar">
                            <button class="submit" type="submit">Ir a pagos</button>
                        </div>
                    </div>     
                </form>
  
            <% } else { %>
                <p>No hay productos en tu carrito</p>
            <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/productCart.js"></script>
</body>
</html>