<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>JFL Bisuteria</title>
</head>
<body>
    <header>
        <picture class="main-logo">
            <a href="/"></a>
        </picture>
        <nav class="options-bar">
            <ul>
                <a href="/"><li><i class="fas fa-bars"></i></li></a>
                <a href="/"><li><i class="fas fa-search"></i></li></a>
                <a href="/login"><li><i class="far fa-user"></i></li></a>
                <a href="/productCart"><li><i class="far fa-shopping-bag"></i></li></a>
                <a href="/"><li><i class="far fa-question-circle"></i></li></a>
            </ul>
        </nav>
        <nav class="pages-bar">
            <ul>
                <a href=""><li>Anillos</li></a>
                <a href=""><li>Collares</li></a>
                <a href=""><li>Brazaletes</li></a>
                <a href=""><li>Nosotros</li></a>
                <a href=""><li>Contacto</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <!--Carrusel-->
        <div class="container-01">
            <ul class="slider">
                <li id="slide-1">
                    <img src="/img/Collares_carrusel.svg" alt="Modelo con collares">
                </li>
                <li id="slide-2">
                    <img src="/img/Anillos_carrusel.svg" alt="Modelo con collares">
                </li>
                <li id="slide-3">
                    <img src="/img/Brazaletes_carrusel.svg" alt="Modelo con collares">
                </li>
            </ul>
            <ul class="menu-slider">
                <li>
                    <a href="#slide-1">●︁</i></a>
                </li>
                <li>
                    <a href="#slide-2">●︁</i></a>
                </li>
                <li>
                    <a href="#slide-3">●︁</a>
                </li>
            </ul>
        <!--Texto intro-->
        <div class="container-02">
            <h1 class="titulo">Enfocados en tu estilo</h1>
            <p>En JFL Bisutería nos esforzamos todos los días en crear los mejores 
                diseños para que puedas lucir tú mejor estilo y sentirte seguro con quien eres.
                Al final la clase la tienes tú y nosotros te ayudamos a mostrarlo
            </p>

        </div>
    </main>
    <footer>
        <section class="footer-options">
            <ul>
                <a href=""><li>Contacto</li></a>
                <a href=""><li>Nosotros</li></a>
                <a href=""><li>Suscríbete</li></a>
                <a href=""><li>Servicio al cliente</li></a>
                <a href=""><li>Política de privacidad</li></a>
            </ul>
        </section>
        <section class="footer-media">
            <h2>Contáctanos en redes</h2>
            <div>
                <a href="/"><i class="fab fa-facebook"></i></a>
                <a href="/"><i class="fab fa-whatsapp"></i></a>
                <a href="/"><i class="fab fa-instagram"></i></a>
            </div>
        </section>
        <section class="footer-news">
            <h2>Únete a nuestra comunidad</h2>
            <p>Suscríbete a nuestro newsletter y recibe noticias y ofertas</p>
            <form action="#" >
                <input type="email" placeholder="usuario@correo.com">
                <button type="submit">Enviar</button>
            </form>
        </section>
    </footer>
</body>
</html>