<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <picture class="main-logo">
            <a href="/"></a>
        </picture>
        <nav class="options-bar">
            <ul>
                <li><a href="/"><i class="fas fa-search"></i></a></li>
                <li><a href="/login"><i class="far fa-user"></i></a></li>
                <li> <a href="/productCart"><i class="far fa-shopping-bag"></i></a></li>
                <li><a href="/"><i class="far fa-question-circle"></i></a></li>
                <li class="bars-menu">
                    <i class="fas fa-bars"></i>
                    <ul class="pages-bar">
                        <li><a href="">Anillos</a></li>
                        <li><a href="">Collares</a></li>
                        <li><a href="">Brazaletes</a></li>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Contacto</a></li>                            
                    </ul> 
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="login">
            <section class="login-title">
                <h1>Inicia sesión</h1>
                <p>Ingresa tu email y tu contraseña</p>
            </section>
            <form class="login-form" action="#">
                <input type="email" placeholder="Correo electrónico"class="email-input" id="login-email" required>
                <input type="password" placeholder="Contraseña" class="pass-input" id="login-password" required>
                <div class="remember">
                    <input type="checkbox" class="remember-input" id="login-remember">
                    <label for="login-remember">Recuérdame</label>
                </div>
                <button type="submit">Ingresa</button>
            </form>
            <a href="/">¿Olvidaste tu contraseña?</a>
            <section class="alt-login">
                <p>Tambien puedes iniciar sesión con:</p>
                <div class="media-login">
                    <a href="/login"><i class="fab fa-facebook-f"></i></a>
                    <a href="/login"><i class="fab fa-google"></i></a>
                </div>
            </section>
            <p>Si aún no tienes cuenta <a href="/register">regístrate</a></p>

        </div>
    </main>
</body>
</html>