<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <picture class="main-logo">
            <a href="/"></a>
        </picture>
        <nav class="options-bar">
            <ul>
                <li><a href="/"><i class="fas fa-search"></i></a></li>
                <li><a href="/login"><i class="far fa-user"></i></a></li>
                <li> <a href="/productCart"><i class="far fa-shopping-bag"></i></a></li>
                <li><a href="/"><i class="far fa-question-circle"></i></a></li>
                <li class="bars-menu">
                    <i class="fas fa-bars"></i>
                    <ul class="pages-bar">
                        <li><a href="">Anillos</a></li>
                        <li><a href="">Collares</a></li>
                        <li><a href="">Brazaletes</a></li>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Contacto</a></li>                            
                    </ul> 
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="register">
            <section class="register-title">
                <h1>Regístrate</h1>
                <p>Llena los siguientes campos para completar tu registro</p>
            </section>
            <form class= "register-form" action="#">
                <div class="tec-inputs">
                    <input type="text" placeholder="Nombre(s)" name="user" class="user-input" required >
                    <input type="text" placeholder="Apellido(s)" name="last-name" class="last-name-input" required>
                    <input type="email" placeholder="Correo electrónico" name="email" class="email-input" required>
                    <input type="password" placeholder="Contraseña" name="password" class="pass-input" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,20})" required>
                    <input type="password" placeholder="Confirmar contraseña" name="password-confirm" class="pass-confirm-input" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,20})" required>
                </div>
                <div class="checkitems">
                    <div class="check">
                        <input type="checkbox" id="politics" required>
                        <label for="politics">No Autorizo la creación de mi cuenta JFL Bisutería con mi dirección de correo electrónico de condividad con lo descrito en la Política de Privacidad.
                        </label>
                    </div>
                    <div class="check" action="#">
                        <input type="checkbox" id="news">
                        <label for="news">Quiero recibir promociones y noticias a mi correo electrónico.</label>
                    </div>
                    <div>
                        <button type="submit" name="register" class="submit-input">Crear cuenta</button>
                    </div>
                </div> 
            </form>
                <p>Ya tienes una cuenta, <a href="/login">Inicia sesión</a></p>
        </div>
    </main>
</body>
</html>