@import url('./general.css');
/* Estilos de la seccion de nombre */
.nombre{
    margin-bottom: 20px;
}

.nombre input[type="text"]{
    width: 100%;
    height: 35px;
}

/* Estilos de la seccion de descripcion */
.descripcion{
    margin-bottom: 20px;
}

.descripcion textarea{
    width: 100%;
    border-radius: 5px;
    
}

/* Estilos de la seccion de precio */
.descuento{
    margin-top: 20px;
}
#descuento{
    margin-right: 3px;
}


/* Estilos de la seccion de categoria */
.categoria{
    margin: 20px 0;
}
.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categoria input[type="radio"]{
    margin-left: 30px;
}
.cat-opcion{
    margin: 10px 0;
}

/*Estilos de la sección de material*/
.materials{
    margin: 20px 0;
}
.materials-container{
    display: flex;
    flex-direction: column;
}
.materials input[type="radio"]{
    margin-left: 30px;
}
.mat-opcion{
    margin: 10px 0;
}

/* Estilos de la seccion de tallas */
.tallas{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0;
}
.tallas-check{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.tallas label{
    width: 100%;
}
.tallas-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.tallas-text input{
    width: 80px;
}
.quant{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.quant input{
    margin-left: 10px;
}

/* Estilos de la seccion opciones-imagen */
.imagenes{
    margin-bottom: 20px;
}
.imagenes ul{
    list-style: none;
}
.imagenes ul li{
   margin: 10px 0;
   text-align: center;
}
.imagenes input[type=file]{
    width: 60%;
}
.imagenes label{
    margin-left: 10px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.botones button{
    width: 25%;
    max-width: 250px;
    padding: 5px;
}
main{
    max-width: 900px;
}
.error-msg{
    width: 100%;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
@media(min-width: 768px){
    .descuento{
        margin-top: 0;
    }
    .price-discount{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 20px auto;
        justify-content: space-around;
    }
    .materials{
        flex-direction: row;
    }
    .materials label{
        width: 100%;
    }
    .materials-container, .category-container {
        width: 70%;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .opciones-imagen{
        width: 40%;
    }
    .tallas-text{
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
    }
}