/* Estilos de la seccion informacion actual */
.informacion-actual{
    background-color: gray;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}

.informacion-actual-imgs{
    display: flex;
    justify-content: space-around;
}

.informacion-actual-imgs img{
    width: 20%;
    transition: all 500ms;
}

.informacion-actual-imgs :hover{
    transform: scale(1.3);
}

.datos-actual{
    margin-top: 20px;
}

/* Estilos de la seccion de nombre */
.nombre{
    margin-bottom: 20px;
}

.nombre input[type="text"]{
    width: 100%;
    height: 35px;
}

/* Estilos de la seccion de descripcion */
.descripcion{
    margin-bottom: 20px;
}

.descripcion textarea{
    width: 100%;
    border-radius: 5px;
    
}

/* Estilos de la seccion de precio */


/* Estilos de la seccion de categoria */
.categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.categoria input[type="radio"]{
    margin-left: 30px;
}

/* Estilos de la seccion de tallas */
.tallas{
    display: flex;
    justify-content: center;

}



/* Estilos de la seccion opciones-imagen */
.opciones-imagen{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagen{
    width: 50%;
}

.imagen img{
    width: 100%;
    padding: 5%;
}

.iconos-img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

