@import url("general.css");

h1{
    font-size: 28px;
    font-style: italic;
}

.datos-pedido{
    width: 100%;
    background-color: #F8EFEF;
    margin-bottom: 25px;
    padding-bottom: 5px;
}

.no-pedido{
    font-size: 22px;
    text-align: center;
}

.datos-adicionales{
    width: 90%;
    text-align: justify;
    padding-top: 10px;
    padding-left: 10%;
    font-size: 16px;
    margin-bottom: 25px;
}

.datos-pedido a{
    display: block;
    text-align: center;
    background-color: var(--gold);
    width: 30%;
    min-width: 200px;
    padding: 10px;
    color: var(--light);
    font-weight: bold;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}