/*Carusel*/
.container-01{
    margin: auto;
    background-color: white;
}
ul li{
     margin: 0;
     padding: 0;
     list-style: none;
}
ul.slider{
    position: relative;
}
ul.slider li{
    position: absolute;
     left: 0;
     top: 0;
     opacity: 0;
     transition: opacity 0.5s;
}
ul.slider li img{
    width: 100%;
}
ul.slider li:first-child{
    opacity: 1;
}