@import url("general.css");

/* Estilos del encabezado */
.encabezado{
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos de visualizacion de productos */

.visualizacion-productos{
    background-color: var(--gold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

}
.imagen-producto{
    width: 100%;
}

.imagen-producto .img{
    width: 65%;
    display: block;
    margin: 10px auto;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
}
.title{
    width: 90%;
    margin: 10px auto;
}
.resumen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.resumen p, label, .total p{
    font-size: 18px;
    font-weight: bold;
}
.cantidad_car, .size-opc{
    display: flex;
    margin: 10px auto;
    width: 40%;
    justify-content: center;
    align-items: center;
    
}
.size-opc label, .size-opc select{
    padding: 5px;
}
.cantidad_car input{
    width: 50px;
    text-align: center;
}
.total{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.total p{
    text-align: center;
    margin: 10px auto;
}
.quant-control{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-evenly;
}
.quant-control button{
    background-color: transparent;
    border: none;
}
.quant-control i{
    font-size: 18px;
}
.cantidad_car p, .quant-control{
    padding: 5px;
}
.total button{
    background-color: transparent;
    width: 250px;
    margin: 10px auto;
    border: none;
    font-weight: bold;
    font-size: 18px;
}
.total button img{
    width: 20px;
    height: 20px;
}
.total button:hover{
    transform: scale(1.2);
}
/* Estilos de la seccion de precios */

.precios{
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px var(--dark);
    display:flex;
    justify-content: flex-end;
}

.desglose-indiv{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.desglose-indiv p{
    padding-bottom: 12px;
}

.btn-pagar{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-pagar button{
    width: 60%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para media querie*/
@media(min-width: 768px) {
    .carrito-general{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cuadro-productos{
        width: 100%;
    }
    .visualizacion-productos{
        flex-direction: row;
    }
    .imagen-producto{
        width: 30%;
        display: flex;
        align-items: center;
    }
    .imagen-producto .img{
        width: 80%;
    }
    .final-product-form{
        display: flex;
        width: 70%;
        flex-direction: row;
    }
    .cantidad_car, .size-opc{
        width: 100%;
    }
    .cuadro-resumen{
        width: 100%;
    }

}

@media(min-width: 1025px){
    
    .cuadro-resumen{
        width: 25%;
        border-left: solid 1px var(--dark);
        margin-bottom: 30px;
    }
    .cuadro-productos{
        width: 70%;
    }

    .precios{
        padding-top: 30px;
        border-top: none;
        justify-content: flex-start;
        padding-left: 15px;
        font-size: 18px;

    }

    .resumen{
        /* justify-content: center;
        padding-left: 20px; */
        font-size: 18px;
    }

    .total{
        margin-right: 30px;
        font-size: 18px;
    }

    .btn-pagar button{
        width: 80%;
    }

}
