/* Estilos del encabezado */
.encabezado{
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos de visualizacion de productos */

.visualizacion-productos{
    background-color: #C5AC28;
    display: flex;
    justify-content: center;
    height: 110px;
    margin-bottom: 30px;

}

.imagen-producto{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 100%;
    height: 100%;
    padding: 5px;
}


.resumen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 30%;
}

.total{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 40%;
    font-weight: bold;
    padding-right: 10px;
}

/* Estilos de la seccion de precios */

.precios{
    margin-top: 20px;
    border-top: solid 1px black;
    padding-top: 10px;
    display:flex;
    justify-content: flex-end;
    padding-right: 20%;
}

.desglose-indiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.desglose-indiv p{
    padding-bottom: 12px;
}

.btn-pagar{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-pagar button{
    background-color: #C5AC28;
    color: white;
    height: 35px;
    width: 60%;
    border: none;
    border-radius: 20px;

}



/* Estilos para media querie*/
@media(min-width:768px) {
    .carrito-general{
        display: flex;
        flex-wrap: wrap;
    }
    
    .cuadro-productos{
        width: 60%;
        margin-right: 20px;
        margin-left: 40px;
    }

    .cuadro-resumen{
        width: 30%;
        border-left: solid 1px black;
        margin-bottom: 30px;
    }

    .precios{
        padding-top: 30px;
        border-top: none;
        justify-content: flex-start;
        padding-left: 30px;
        font-size: 20px;

    }

    .visualizacion-productos{
        height: 150px;
        width: 100%;

    }

    .resumen{
        justify-content: center;
        padding-left: 20px;
        font-size: 20px;
    }

    .total{
        margin-right: 30px;
        font-size: 24px;
        font-weight: normal;
    }

    .btn-pagar button{
        width: 80%;
    }

}
