@import url("general.css");

 /* Estilos de los detalles del producto */

 .nombre-producto{
     font-size: 22px;
     margin-bottom: 10px;
 }

 .descripcion-producto{
     font-size: 16px;
     margin:  auto;
     max-width: 950px;
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 20px;
     text-align: justify;
 }
.descripcion-producto > div{
    margin-top: 30px;
}
.datos-compra{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
.field-row{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.field-row p{
    width: 100px;
}
.field-row > span, select {
    display: block;
    margin: 0 auto;
}
 .old-price{
     text-decoration: line-through;
     position: absolute;
     left: 25%;
 }
 .real-price{
     color: green;
     font-weight: bold;
     font-size: 18px;
 }
.datos-compra  .resalta-campo span{
    font-weight: normal;
}
.resalta-campo{
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
}
.resalta-campo label{
    display: inline-block;
    width: 100px;
}
/* Estilos del boton */
.contenedor-btn{
    display: flex;
    justify-content: center;
}
.btn{
    width: 90%;
    max-width: 250px;
}

/*Estilos para cantidades*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.quant-control{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    margin: 0 auto;
}

.quant-control input{
    width: 70px;
    text-align: center;
    font-size: 14px;
}
.quant-control button{
    background-color: transparent;
    border: none;
}
.quant-control button:hover{
    transform: scale(1.2);
}
.quant-control i{
    font-size: 20px;
    color: var(--dark);
}
.quant-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Escalamiento de imagenes */

.imagen-principal{
    display: block;
    max-width: 535px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.imagen-sec{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    object-position: center;
    object-fit: cover;
    margin: 10px auto;
    opacity: 0.7;
}
.imagen-sec:hover{
    opacity: 1;
}
/* Estilos para antes del media querie */

.imagenes{
    width: 100%;
}
/*Ãrea de comentarios*/
.comment-section{
    margin: 20px 0;
}
.add-comment{
    margin-bottom: 20px;
}
.add-comment label{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}
.add-comment .comment-title{
    display: block;
    width: 100%;
    max-width: 750px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px auto;
}
.add-comment textarea{
    display: block;
    width: 100%;
    max-width: 750px;
    height: 150px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px auto;
}
.comment-buttons{
    display: flex;
    justify-content: flex-end;
}
.comment-buttons button{
    padding: 5px;
    font-size: 16px;
    margin-left: 15px;
    width: 30%;
}
.comment-box{
    display: grid;
    gap: 5px;
    margin: 15px auto;
    padding: 10px;
    border-top: 1px solid var(--light-border) ;
}
.comment-box .user-img{
    justify-self: center;
    font-size: 36px;
}
.com-title, .com-date, .com-name{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.com-title{
    font-size: 18px;
}
.com-content{
    text-align: justify;
    font-size: 14px;
}

.user-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.user-options a, .user-options form{
    width: 100%;
}
.user-options button{
    width: 50%;
    margin: 10px auto;
    display: block;
    height: 30px;
}
.user-options a{
    color: var(--gold)
}

.editar-btn, .borrar-btn{
    background-color:var(--dark);
    color:var(--gold);
    border: none;
}
.editar-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.editar-btn a:hover, .borrar-btn:hover{
    background-color:var(--gold);
    color:var(--dark); 
}

.editar:hover{
transform:scale(1);
}

.see-comments{
    padding-bottom: 15px;
}

/* Estilos para ventana emergente */
.ventana{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility:hidden;
}

.ventanaEmergente{
    width: 80%;
    border: solid 2px var(--gold);
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    background-color: white;
}

.texto-ventana{
    width: 100%;
}

.botones-ventana{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.confirmar-btn{
    background-color:white;
    border: solid 2px var(--gold);
    padding: 10px;
    cursor: pointer;  
}


/*Estilos para media querie*/
@media(min-width: 768px) {

    .descripcion-producto{
        justify-content: space-evenly;
    }
    .descripciones > div{
        min-height: 30%;
    }
    .imagenes{
        width: 50%;
    }
    .descripciones{
        width: 50%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .datos-compra form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .datos-producto h1{
        margin-bottom: 30px;
    }
    .nombre-producto{
        font-size: 20px;
    }
    .descripcion-producto{
        font-size: 18px;
    }

    .resalta-campo{
        font-size: 18px; 
    }
    .btn{
        margin-top: 20px;
        width: 80%;
        font-size: 18px;
    }
    .comment-buttons{
        justify-content: space-around;
        max-width: 750px;
        margin: 0 auto;
    }
    .comment-buttons button{
        margin-left: 0;
    }
    .comment-box{
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: "foto name"
                             "foto date"
                             "title title"
                             "content content";
    }
    .user-img{
        grid-area: foto;
        align-self: center;
    }
    .com-name{
        grid-area: name;
        text-align: left;
    }
    .com-title{
        grid-area: title;
        text-align: left;
        align-self: center;
    }
    .com-date{
        grid-area: date;
        text-align: left;
        align-self: center;
    }
    .com-content{
        grid-area: content;
    }
    .user-options{
        flex-direction: row;
    }
    .user-options button{
        width: 35%;
    }
    .ventanaEmergente{
        width: 30%;
    }
}

