body{
    height: 100vh;
}
main{
    margin: 30px auto;
}
.register-title{
    padding: 30px 15px;
    text-align: center;
}
.register-title h1{
    font-size: 26px;
}
.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.register-form input {
    width: 70%;
    max-width: 350px;
    margin-bottom: 25px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #817a7a;
    outline: none;
}
.register-form div{
    width: 50%;
}
.register-form .submit-input{
    display: block;
    width: 60%;
    height: 30px;
    margin: 0 auto 20px;
    position: relative;
    border: none;
    background-color: #A58E17;
    color: #000000;
}
.register-form input:focus{
    border: 2px solid #817a7a;
    box-shadow: 3px 3px 10px #817a7a ;
}
.register-form .submit-input::after, .register-form .submit-input::before{
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s linear;
    border-radius: 2px;
}
.register-form .submit-input::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #000000;
    border-right-color: #000000;
}
.register-form .submit-input::before{
    top: 0;
    left: 0;
    border-top-color: #000000;
    border-left-color: #000000;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.register-form .submit-input:hover:after, .register-form .submit-input:hover:before{
    width: 100%;
    height: 100%;
}
/*-------------------Media querie para tablet---------------------*/
@media(min-width: 768px){
    .register{
        width: 80%;
        margin: 20px auto 100px ;
        border: 1px solid #817a7a;
        max-width: 800px;
    }
    .register-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    .register-form input, .register-form div{
        width: 35%;
        max-width: none;
    }
    .register-form p{
        width: 100%;
        text-align: center;
    }
}

/*-------------------Media querie para desktop---------------------*/
@media(min-width: 1000px){

}