/*Estilos generales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
main{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 390px;
}
input{
    border-radius: 5px;
}
/*Estilos principales de botón*/
button[type="submit"]{
    height: 30px;
    color: #A58E17;
    background-color: transparent;
    font-weight: bold;
    border: none;
    display: block;
    position: relative;
}
button[type="submit"]:focus{
    border: 2px solid #817a7a;
    box-shadow: 3px 3px 10px #817a7a ;
}
button[type="submit"]::after, button[type="submit"]::before{
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 3px solid;
    transition: all 0.6s linear;
    border-radius: 2px;
}
button[type="submit"]::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #A58E17;
    border-right-color: #A58E17;
}
button[type="submit"]::before{
    top: 0;
    left: 0;
    border-top-color: #A58E17;
    border-left-color: #A58E17;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
button[type="submit"]:hover:after, button[type="submit"]:hover:before{
    width: 100%;
    height: 100%;
}
/*Estilos principales de etiquetas ancla*/
a{
    transition: all 0.3s ease
}
a:hover{
    transform: scale(1.2);
}
/*---------Maquetado del header----------*/
header{
    min-width: 390px;
    background-color: black;
    padding-bottom: 20px;
}

/*Logo*/
.main-logo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.main-logo a{
    background-image: url('../img/JFL-Logo.svg');
    display: block;
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Barra de opciones*/
.options-bar{
    padding-top: 15px;
    padding-bottom: 15px;
}
.options-bar ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.options-bar a{
    color: white;
}

/*Navegación de páginas*/
.pages-bar{
    display: none;
}

/*--------Maquetado del footer-------*/
footer{
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 20px;
    min-width: 390px;
}

/*Barra de opciones*/
.footer-options{
    margin-bottom: 20px;
}
.footer-options ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
}
.footer-options a{
    color: #ffffff;
}
.footer-options li{
    padding-top: 10px;
    padding-bottom: 10px;
}
 /*Redes sociales*/
.footer-media h2{
    text-align: center;
}
.footer-media div{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.footer-media i{
    font-size: 70px;
}
.fa-facebook{
    color: #014C83;
}
.fa-instagram{
    color: #D21DAA;
}
.fa-whatsapp{
    color: #22A948;
}

/*Suscripción al newsletter*/
.footer-news{
    margin-top: 10px;    
}
.footer-news h2, .footer-news p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer input{
    width: 80%;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 320px;
}
footer button{
    width: 30%;
}

/*-------------------Media querie para tablet-------------------*/
@media(min-width:768px){
/*-----Header------*/
    .options-bar ul{
        justify-content: flex-end;
        padding-right: 10px;
    }
    .options-bar li{
        padding-right: 30px;
        font-size: 18px;
    }
    .options-bar a:nth-of-type(1){
        display: none;
    }
    .pages-bar{
        display: block;
    }
    .pages-bar ul{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
    }
    .pages-bar a{
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
    }

    /*Maquetación del footer*/
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-options{
        width: 35%;
    }
    .footer-media{
        width: 40%;
    }
    .footer-news{
        width: 100%;
    }
}

/*-------------------Media querie para desktop-------------------*/
@media(min-width: 1025px){
    /*--------Footer-------*/
    .footer-options{
        width: 25%;
    }
    .footer-media{
        width: 35%;
    }
    .footer-news{
        width: 40%;
    }
}
