@import url("general.css");

/*---------Maquetado del header----------*/
header{
    position: relative;
    background-color: var(--dark);
    min-width: 320px;
}
/*Logo*/
.main-logo{
    display: flex;
    justify-content: center;
    /* padding-top: 20px; */
}
.main-logo a{
    background-image: url('../img/JFL-logo-sin-texto.svg');
    display: block;
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*Barra de navegación*/
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    min-height: 200px;
}
.navbar i {
    color: var(--light);
    display: block;
}
.main-menu i:hover ~ .main-list, .main-list:hover {
    z-index: 1;
    opacity: 1;
    transform: translateY(150px);
    transition: transform 1s, z-index 0s 0.4s, opacity 0.8s;
}
.main-list{
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: all 1s 0.5s;
    top: 0;
    left: 0;
    background-color: var(--dark);
    width: 35%;
    text-align: center;
}
.main-list_element{
    padding: 10px 0;
}
.main-list .main-list_element a, .main-list p{
    color: white;
}
.products-menu p:hover ~ .products-list, .products-list:hover {
    z-index: 1;
    opacity: 1;
    transform: translateX(100%);
    transition: transform 1.5s, z-index 0s 1.3s, opacity 1s;
}
.products-list{
    z-index: -10;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: transform 1.5s, z-index 0s 0.3s, opacity 1s;
    top: 0;
    background-color: var(--dark);
    width: 100%;
}
.products-list a{
    padding: 10px 0;
}
.products-menu{
    position: relative;
}
.products-menu p:hover {
    cursor: pointer;
}
.search-menu form{
    position: absolute;
    z-index: -10;
    opacity: 0;
    left: 0;
    top: 0;
    background-color: var(--dark);
    width: 100%;
    transition: all 0.5s linear 0.8s;
}
.search-menu i:hover ~ form, .search-menu form:hover{
    z-index: 1;
    opacity: 1;
    transform: translateY(150px);
    transition: transform 1s, z-index 0s 0.4s, opacity 0.8s;
}
.search-menu .search-bar {
    width: 85%;
    margin: 10px auto;
    background-color: var(--light);
    border-radius: 10px;
    display: flex;
    padding: 3px;
    max-width: 500px;
}
.search-bar input {
    width: 90%;
    outline: none;
    border: none;
    background-color: var(--soft);
}
.search-bar button {
    width: 10%;
    background-color: var(--soft);
    border-radius: 5px;
    border: 1px solid var(--light-border);
}
.search-bar button i{
    color: var(--light-border);
}
.user-pages{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
    background-color: var(--dark);
    width: 60%;
    max-width: 250px;
    text-align: center;
    transition: all 1s 0.5s;
}
.user-pages p, .user-pages a{
    color: var(--light);
}
.user-menu i:hover ~ .user-pages, .user-pages:hover{
    z-index: 10;
    opacity: 1;
    transform: translateY(120px);
    transition: transform 0.9s, z-index 0s 0.4s, opacity 0.8s;
}
.user-pages_element{
    padding: 10px 0;
}
.user-menu i.logged, .user-pages p{
    color: var(--gold);
}
.user-pages_element button {
    background-color: transparent;
    border: none;
    color: var(--light);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.user-pages_element button:hover{
    cursor: pointer;
}

/*--------Maquetado del footer-------*/
footer{
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    padding-bottom: 20px;
    min-width: 320px;
    position: absolute;
    top: 100%;
}

/*Barra de opciones*/
.footer-options{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-options ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
}
.footer-options a{
    color: var(--light);
}
.footer-options li{
    padding-top: 10px;
    padding-bottom: 10px;
}

 /*Redes sociales*/
.footer-media h2{
    text-align: center;
}
.footer-media div{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.footer-media i{
    font-size: 70px;
}
footer i{
    color: var(--light);
}

/*-------------------Media querie para tablet-------------------*/
@media(min-width: 768px){
/*-----Header------*/
    .navbar{
        flex-wrap: wrap;
        align-items: center;
    }
    .main-logo{
        order: -1;
        width: 15%;
    }
    .main-menu{
        width: 100%;
        order: 1;
    }
    .main-menu i{
        display: none;
    }
    .main-menu .main-list {
        position: relative;
        z-index: 10;
        opacity: 1;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    .main-list:hover {
        transform: none;
    }
    .main-list_element{
        width: 33%;
    }
    .search-menu {
        width: 60%;
        position: relative;
        height: 70px;
        display: flex;
    }
    .search-menu > i{
        display: none;
    }
    .search-menu form{
        z-index: 1;
        opacity: 1;
        display: flex;
        height: 100%;
        align-items: center;
    }
    .search-menu form:hover{
        transform: none;
    }
    .search-menu .search-bar {
        max-width: none;
    }
    .products-menu p:hover ~ .products-list, .products-list:hover {
        transform: translateY(90px);
        transition: transform 0.8s, z-index 0s 0.3s, opacity 0.6s 0.4s;
    }
    .products-list{
        top: -50px;
        transition: all 1s 0.4s;
    }
    /*Maquetación del footer*/
    footer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 0;

    }
    .footer-options{
        width: 35%;
        margin-bottom: 0;
    }
    .footer-media{
        width: 40%;
    }
    main{
        /* margin-top: 70px; */
    }
}

/*-------------------Media querie para desktop-------------------*/
@media(min-width: 1025px){
    /*--------Footer-------*/
    .footer-options{
        width: 60%;
    }
    .footer-options ul{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .footer-media{
        width: 35%;
    }
}
