@import url('general.css');

main{
    background-image: none;
}


.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    text-align: center;
}
.input-section input, .pass-section{
    width: 90%;
}
.pass-section{
    position: relative;
    width: 100%;
}
.pass-section i{
    position: absolute;
    right: 7%;
    top: 5px;
    color: var(--light-border);
}
.checkitems{
    margin-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-around;
}
.button {
    width: 200px;
    margin: 0 auto;
    height: 30px;
}

.register-errors {
    margin-top: 5px;
    color: red;
    font-size: 12px;
    align-self: flex-start;
}
.img-preview{
    position: relative;
}
.img-preview button{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: none;
    border: none;
    background-color: transparent;
}
.img-preview img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.img-preview button i{
    font-size: 25px;
    color: red;
}
.img-preview button i:hover{
    transform: scale(1.2);
}
.delete-photo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.input-section .delete-photo input{
    width: 10%;
}

@media(min-width: 768px){
    form{
        width: 70%;
        margin: 0 auto;
        max-width: 650px;
    }
    .input-section label{
        width: 100%;
        text-align: left;
    }
    .input-section input{
        width: 100%;
    }
    .checkitems{
        flex-direction: row;
    }
    .pass-section i{
        right: 20px;
    }
}
