<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Nosotros</title>
    <link rel="stylesheet" href="/css/about-us.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Nosotros</h1>
        <div class="about-us">
            <img src="/img/about-us.png" alt="">
            <div class="text">
                <p>Les damos la bienvenida a este nuevo concepto de venta de bisutería en línea. El objetivo de JFL es brindar accesorios de calidad que acompañen nuestro estilo y personalidad a la hora de vestir.</p>
                <p>Nuestros productos están pensados para todas las personas que desean reflejar una personalidad juvenil sin perder la elegancia y el porte. Sabemos que la edad es solo un número y eso no te define completamente, por lo que nuestro concepto está enfocado a satisfacer los gustos de personas de cualquier edad.</p>    
                <p>Buscamos a través de nuestro sitio web que los clientes puedan verificar la calidad y originalidad de cada uno de los diseños y proporcionar una interfaz amigable y segura en la cual se podrán adquirir nuestros productos.</p>
            </div>
            
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>