<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/privacy.css">
    <title>Política de privacidad</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1 class="titulo-aviso">Aviso de <br> privacidad</h1>
        <p class="subrayado">__________________</p>
        <section class="aviso-texto">
            <p>JFL Bisutería, con domicilio ubicado en: Joyerías #300, Colonia Polanco, Delegación Miguel Hidalgo, CP 11310, en la Ciudad de México; de conformidad con las disposiciones de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la Ley) y su Reglamento, hace de su conocimiento que: <br>
                “Bisutería JFL”, protege y salvaguarda sus datos personales para evitar el daño, pérdida, destrucción, robo, extravío, alteración, así como el tratamiento no autorizado de los mismos.
                Este Aviso de Privacidad tiene como objetivo informarle a los visitantes del portal de internet y usuarios, (en adelante “Usuarios”), cuales son los datos personales se comparten con “Bisutería JFL”, para qué se utilizan, con quien se comparten, así como el procedimiento que se ha implementado para que el Acceso, Rectificación, Cancelación y Oposición al tratamiento de sus Datos Personales, o para revocar el consentimiento que previamente se otorgue.</p>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>