<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Servicio al cliente</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Servicio al cliente</h1>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>