<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Suscríbete</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Suscríbete</h1>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>