<footer>
    <section class="footer-options">
        <ul>
            <a href=""><li>Contacto</li></a>
            <a href=""><li>Nosotros</li></a>
            <a href=""><li>Suscríbete</li></a>
            <a href=""><li>Servicio al cliente</li></a>
            <a href=""><li>Política de privacidad</li></a>
        </ul>
    </section>
    <section class="footer-media">
        <h2>Contáctanos en redes</h2>
        <div>
            <a href="/"><i class="fab fa-facebook"></i></a>
            <a href="/"><i class="fab fa-whatsapp"></i></a>
            <a href="/"><i class="fab fa-instagram"></i></a>
        </div>
    </section>
    <section class="footer-news">
        <h2>Únete a nuestra comunidad</h2>
        <p>Suscríbete a nuestro newsletter y recibe noticias y ofertas</p>
        <form action="#" >
            <input type="email" placeholder="usuario@correo.com">
            <button type="submit">Enviar</button>
        </form>
    </section>
</footer>