<header>
    <picture class="main-logo">
        <a href="/"></a>
    </picture>
    <nav class="options-bar">
        <ul>
            <li class="bars-menu">
                <i class="fas fa-bars"></i>
                <ul class="pages-bar">
                    <li><a href="/product/anillos">Anillos</a></li>
                    <li><a href="/product/collares">Collares</a></li>
                    <li><a href="/product/brazaletes">Brazaletes</a></li>
                    <li><a href="/about-us">Nosotros</a></li>
                    <li><a href="/contact">Contacto</a></li>                            
                </ul> 
            </li>
            <li><a href="/"><i class="fas fa-search"></i></a></li>
            <li class="user-menu">
                <i class="far fa-user"></i>
                <ul class="user-pages">
                    <li><a href="/user/login">Iniciar sesión</a></li>
                    <li><a href="/user/register">Registrarse</a></li>
                </ul>
            </li>
            <li> <a href="/product/productCart"><i class="far fa-shopping-bag"></i></a></li>
            <li><a href="/help"><i class="far fa-question-circle"></i></a></li>
        </ul>
    </nav>
</header>