<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/addProduct.css">
    <title>Agregar productos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Editar producto</h1>
        <div class="agregar-product">
                <form action="/products" method="POST">
    
                    <section class="nombre">
                        <label for="nombre">Nombre del producto: </label>
                        <input type="text" name ="nombre" id="nombre" placeholder="Nombre">
                    </section>
    
                    <section class="descripcion">  
                        <label for="descripcion">Descripción:</label>
                        <textarea name ="descripcion" id="descripcion" rows="5" placeholder="Escribe una breve descripción"></textarea>
                    </section>
    
                    <section class="precio">
                        <label for="precio">Precio: $</label>
                        <input type="text" name ="precio" id="precio">
                    </section>
                   
                    <section class="descuento">
                        <label for="descuento">Descuento:</label>
                        <input type="number" name="descuento" id="descuento">
                    </section>

                    <section class="categoria">
                        <label for="categoria">Categoría: </label>
                        <div class="cat-opcion">
                            <input type="radio" name="categoria" id = "categoria" value="anillos" checked>
                            <label for="anillos">Anillos</label>
                        </div>
                        <div class="cat-opcion">
                            <input type="radio" name="categoria" id = "categoria" value="collares"> 
                            <label for="categoria">Collares</label>
                        </div>
                        <div class="cat-opcion">
                            <input type="radio" name="categoria" id = "categoria" value="pulseras">
                            <label for="categoria"> Pulseras</label>
                        </div>
                    </section>

                    <section class="materials">
                        <label for="materials">Material: </label>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "materials" value="Oro" checked>
                            <label for="materials">Oro</label>
                        </div>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "materials" value="plata"> 
                            <label for="materials">Plata</label>
                        </div>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "materials" value="acero">
                            <label for="materials"> Acero</label>
                        </div>
                    </section>
    
                    <section class="tallas">
                        <p><strong>Tallas:</strong></p>
                            <div class="tallas-check">
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-S" value="s">
                                    <label for="talla-S">S</label>
                                </div>
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-M" value="m">
                                    <label for="talla-M">M</label>
                                </div>
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-L" value="l">
                                    <label for="talla-L"> L</label>
                                </div>
                            </div>
                            <div class="tallas-text">
                                <div class="quant">
                                    <label for="cant-S">Cantidad:</label>
                                    <input type="number" name ="cant-S" id="cant-S">
                                </div>
                                <div class="quant">
                                    <label for="cant-M">Cantidad:</label>
                                    <input type="number" name ="cant-M" id="cant-M">
                                </div>
                                <div class="quant">
                                    <label for="cant-L">Cantidad:</label>
                                    <input type="number" name ="cant-L" id="cant-L">
                                </div>
                            </div>
                    </section>
                    <section class="agregar-img">
                        <div class="opciones-imagen">
                            <div class="imagen">
                                <img src="/img/ring-2.jpg" alt="">
                            </div>
                            <div class="iconos-img">
                                <div class="icon edit">
                                    <p>Editar </p><i class="far fa-edit"></i>
                                </div>
                                <div class="icon del">
                                    <p>Eliminar</p><i class="fas fa-trash"></i>
                                </div>
                                
                            </div>
                            <p>Imagen 1</p>
                        </div>
                        <div class="opciones-imagen">
                            <div class="imagen">
                                <img src="/img/ring-2.jpg" alt="">
                            </div>
                            <div class="iconos-img">
                                <div class="icon edit">
                                    <p>Editar </p><i class="far fa-edit"></i>
                                </div>
                                <div class="icon del">
                                    <p>Eliminar</p><i class="fas fa-trash"></i>
                                </div>
                                
                            </div>
                            <p>Imagen 2</p>
                        </div>
                    </section>                   
    
                    <section class="botones">
                        <button>Cancelar</button>
                        <button  type="reset">Borrar todo</button>
                        <button type="submit">Guardar cambios</button>
                    </section>
    
                </form>
        </div>
    </main>
</body>
