<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/addProduct.css">
    <title>Agregar productos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Agregar producto</h1>
        <div class="agregar-product">
                <form action="/products" method="POST" enctype="multipart/form-data">
    
                    <section class="nombre">
                        <label for="nombre">Nombre del producto: </label>
                        <input type="text" name ="name" id="nombre" placeholder="Nombre">
                    </section>
    
                    <section class="descripcion">  
                        <label for="descripcion">Descripción:</label>
                        <textarea name ="description" id="descripcion" rows="5" placeholder="Escribe una breve descripción"></textarea>
                    </section>
    
                    <section class="precio">
                        <label for="precio">Precio: $</label>
                        <input type="text" name ="price" id="precio">
                    </section>
                   
                    <section class="descuento">
                        <label for="descuento">Descuento:</label>
                        <input type="number" name="discount" id="descuento"><label>%</label>
                    </section>

                    <section class="categoria">
                        <label for="categoria">Categoría: </label>
                        <div class="cat-opcion">
                            <input type="radio" name="category" id = "anillos" value="1" checked>
                            <label for="anillos">Anillos</label>
                        </div>
                        <div class="cat-opcion">
                            <input type="radio" name="category" id = "collares" value="3"> 
                            <label for="collares">Collares</label>
                        </div>
                        <div class="cat-opcion">
                            <input type="radio" name="category" id = "brazaletes" value="2">
                            <label for="brazaletes"> Brazaletes</label>
                        </div>
                    </section>
                    <section class="materials">
                        <label for="materials">Material: </label>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "oro" value="2" checked>
                            <label for="oro">Oro</label>
                        </div>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "plata" value="3"> 
                            <label for="plata">Plata</label>
                        </div>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "acero" value="1">
                            <label for="acero"> Acero</label>
                        </div>
                    </section>
    
                    <section class="tallas">
                        <p><strong>Tallas:</strong></p>
                            <div class="tallas-check">
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-S" value="s">
                                    <label for="talla-S">S</label>
                                </div>
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-M" value="m">
                                    <label for="talla-M">M</label>
                                </div>
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-L" value="l">
                                    <label for="talla-L">L</label>
                                </div>
                            </div>
                            <div class="tallas-text">
                                <div class="quant">
                                    <label for="cant-S">Cantidad:</label>
                                    <input type="number" name ="quantityS" id="cant-S">
                                </div>
                                <div class="quant">
                                    <label for="cant-M">Cantidad:</label>
                                    <input type="number" name ="quantityM" id="cant-M">
                                </div>
                                <div class="quant">
                                    <label for="cant-L">Cantidad:</label>
                                    <input type="number" name ="quantityL" id="cant-L">
                                </div>
                            </div>
                    </section>
                    <section class="agregar-img">
                        <p><strong>Imágenes:</strong></p>
                        <div class="imagenes">
                            <ul>
                                <li>
                                    <input type="file" name="image1" id="image" placeholder="Subir"><label>Imagen 1</label>
                                </li>
                                <li>
                                    <input type="file" name="image2" id="image"><label>Imagen 2</label>
                                </li>
                            </ul> 
                        </div>
                    </section>                   
                    <section class="botones">
                        <button>Cancelar</button>
                        <button  type="reset">Borrar todo</button>
                        <button type="submit">Guardar cambios</button>
                    </section>
                </form>
        </div>
    </main>
</body>
