<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/addProduct.css">
    <title>Agrear productos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="form-add-product">
            <section class="add-product">
                <h1>Agrega un producto</h1>
            </section>
            <form class= "product-form" action="#">
                <div class="add-inputs">
                    <div class="part_1">
                        <p><strong>Nombre del producto:</strong></p>
                        <input type="text" placeholder="Nombre" name="product" class="product-name" required >
                        <br>
                        <p><strong>Descripción del producto:</strong></p>
                        <textarea name="description" rows="5" cols="25" placeholder="Descripción" class="prodcut-description"></textarea>
                    </div>
                    <br>
                    <div class="part_2">
                        <div class="price">
                            <p><strong>Precio:</strong></p>
                            <div class="price-box">
                                <p>$</p>
                                <input type="text" placeholder="Precio" name="price" class="price-text" required>
                            </div>
                        </div>
                        <div class="category">
                            <p><strong>Categoría:</strong></p>
                            <ul class="list-categorias">
                                <li>
                                    <input type="radio" name="categoria" value="ring"> Anillos
                                </li>
                                <li>
                                    <input type="radio" name="categoria" value="necklace"> Collares
                                </li>
                                <li>
                                    <input type="radio" name="categoria" id="bracelet"> Brazaletes
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="part_3">
                        <div class="size">
                            <p><strong>Tallas:</strong></p>
                            <ul class="tallas">
                                <li>
                                    <input type="checkbox" name="tallas" value="small"> S
                                </li>
                                <li>
                                    <input type="checkbox" name="tallas" value="medium"> M
                                </li>
                                <li>
                                    <input type="checkbox" name="tallas" value="large"> G
                                </li>
                            </ul>
                        </div>
                        <div class="quantity">
                            <p><strong>Cantidad:</strong></p>
                            <ul class="cantidad">
                                <li>
                                    <input type="text" name="cantidad" class="q-text" required>
                                </li>
                                <li>
                                    <input type="text" name="cantidad" class="q-text" required>
                                </li>
                                <li>
                                    <input type="text" name="cantidad" class="q-text" required>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="part_4">
                        <div class="pic">
                            <div class="picture">
                                <img src="/img/ring-2.jpg" alt="Foto de anillo">
                                <p>Imagen 1</p>
                            </div>
                            <div class="pic-edit">
                                <p>Editar imagen <i class="far fa-edit"></i> </p>
                                <p>Eliminar imagen <i class="fas fa-trash"></i> </p>
                            </div>
                        </div>
                    </div>
                    <div class="botones">
                        <button type="cancel">Cancelar</button>
                        <button type="reset">Borrar</button>
                        <button type="">Guardar</button>
                        
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
