<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/editProduct.css">
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <!-- <form class="edit-form" action="#">
            <input type="text" placeholder="Ingresa el nombre del producto">
            <button type="submit"> Buscar </button>
        </form> -->

        <!-- <section class="edit-products">
            <div class="edit-img">
                <img src="/img/starwarsmandalorianearringdarksaberblack_3000x.jpg" alt="">
            </div>

            <div class="edit-texto">
                <p>Nombre del producto</p>
                <p>ID producto</p>
                <p>Categoría</p>
            </div>

            <div class="edit-icono">
                <i class="fas fa-edit"></i>
            </div>
        </section> -->

        <section class="editproducts-form">
            <h1>Edición de producto</h1>

            <form action="#">
                <label for="">Nombre del producto</label>
                <input type="text">
                <label for="">Descripción del producto</label>
                <textarea></textarea>

                <div class="datos-particulares">
                    <div class="datos">
                        <label for="">Categoría</label>
                        <input type="radio" id="" value="">
                        <label for="anillos">Anillos</label>
                        <input type="radio" id="" value="">
                        <label for="collares">Collares</label>
                        <input type="radio" id="" value="">
                        <label for="pulseras">Pulseras</label>
        
                          <label for="">Precio</label>
                          <input type="text" placeholder="Precio"required>   
                    </div>

                    <div class="imagenes">
                        <img src="/img/starwarsmandalorianearringdarksaberblack_3000x.jpg" alt="">
                    </div>
                </div>


                <div class="vistas-producto">
                    <div class="opciones-img">
                        <p>Imagen 1</p>
                        <div>
                            <button><i class="far fa-edit"></i></button>
                            <button><i class="fas fa-minus-circle"></i></button>
                        </div>
                    </div>     
                </div>


                <div class="botones">
                    <button  type="">Cancelar</button>
                    <button  type="">Borrar todo</button>
                    <button type="">Guardar cambios</button>
                </div>
            </form>

        </section>

    </main>
</body>
</html>