<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/editProduct.css">
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <!-- <form class="edit-form" action="#">
            <input type="text" placeholder="Ingresa el nombre del producto">
            <button type="submit"> Buscar </button>
        </form> -->

        <!-- <section class="edit-products">
            <div class="edit-img">
                <img src="/img/starwarsmandalorianearringdarksaberblack_3000x.jpg" alt="">
            </div>

            <div class="edit-texto">
                <p>Nombre del producto</p>
                <p>ID producto</p>
                <p>Categoría</p>
            </div>

            <div class="edit-icono">
                <i class="fas fa-edit"></i>
            </div>
        </section> -->

        <section class="editproducts-form">
            <h1>Edición de producto</h1>

            <form action="#">
                <label for="">Nombre del producto</label>
                <input type="text">
                <label for="">Descripción del producto</label>
                <textarea></textarea>

                <div class="datos-particulares">
                    <div class="datos">
                        <label for="">Categoría</label>
                        <select>
                            <option value="value1" selected>Anillos</option>
                            <option value="value2">Collares</option>
                            <option value="value3">Brazaletes</option>
                          </select>
        
                          <label for="">Talla</label>
                          <select>
                            <option value="" selected>S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                            <option value="">XL</option>
                          </select>
        
                          <label for="">Precio</label>
                          <input type="text" placeholder="Precio"required>   
                    </div>

                    <div class="imagenes">
                        <img src="/img/starwarsmandalorianearringdarksaberblack_3000x.jpg" alt="">
                    </div>
                </div>


                <div class="botones">
                    <button type="submit">Cancelar</button>
                    <button type="submit">Borrar todo</button>
                    <button type="submit">Guardar cambios</button>
                </div>
            </form>

        </section>

    </main>
</body>
</html>