<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="login">
            <section class="login-title">
                <h1>Inicia sesión</h1>
                <p>Ingresa tu email y tu contraseña</p>
            </section>
            <form class="login-form" id="login-form" action="/user" method="POST">
                <% if(locals.msg) { %>
                    <p class="error"><%=msg %></p>
                <% } %>
                <input type="email" name="email" class="email-input" id="login-email" placeholder="Correo electrónico">
                <div class="pass-container">
                    <input type="password" name="password" class="pass-input" id="login-password" placeholder="Contraseña">
                    <i class="fas fa-eye password-eye" id="passEye"></i>
                </div>
                <div class="remember">
                    <input type="checkbox" class="remember-input" id="login-remember" name="remember">
                    <label for="login-remember">Recuérdame</label>
                </div>
                <button class="submit" type="submit">Ingresa</button>
            </form>
            <a href="/">¿Olvidaste tu contraseña?</a>
            <section class="alt-login">
                <p>Tambien puedes iniciar sesión con:</p>
                <div class="media-login">
                    <a href="/login"><i class="fab fa-facebook-f"></i></a>
                    <a href="/login"><i class="fab fa-google"></i></a>
                </div>
            </section>
            <p>Si aún no tienes cuenta <a href="/user/register">regístrate</a></p>

        </div>
    </main>

    <script src="/js/login.js"></script>
</body>
</html>