<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="register">
            <section class="register-title">
                <h1>Regístrate</h1>
                <p>Llena los siguientes campos para completar tu registro</p>
            </section>
            <form class= "register-form" action="#">
                <div class="tec-inputs">
                    <input type="text" placeholder="Nombre(s)" name="user" class="user-input" required >
                    <input type="text" placeholder="Apellido(s)" name="last-name" class="last-name-input" required>
                    <input type="email" placeholder="Correo electrónico" name="email" class="email-input" required>
                    <input type="password" placeholder="Contraseña" name="password" class="pass-input" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,20})" required>
                    <input type="password" placeholder="Confirmar contraseña" name="password-confirm" class="pass-confirm-input" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,20})" required>
                </div>
                <div class="checkitems">
                    <div class="check">
                        <input type="checkbox" id="politics" required>
                        <label for="politics">No Autorizo la creación de mi cuenta JFL Bisutería con mi dirección de correo electrónico de condividad con lo descrito en la Política de Privacidad.
                        </label>
                    </div>
                    <div class="check" >
                        <input type="checkbox" id="news">
                        <label for="news">Quiero suscribirme al newsletter y recibir promociones y noticias a mi correo electrónico.</label>
                    </div>
                    <div>
                        <button type="submit" name="register" class="submit-input">Crear cuenta</button>
                    </div>
                </div> 
            </form>
                <p>Ya tienes una cuenta, <a href="/user/login">Inicia sesión</a></p>
        </div>
    </main>
</body>
</html>